/* Recommended Tools
    Check accessibility for colour combinations
    https://toolness.github.io/accessible-color-matrix/
*/

:root {
    --fore: #F0F0F0;
    --fore-headings: #FDFDFD;
    --aft: #222;

    --fore-link: #c0b283;
    --fore-link-alt: #b8ab7e;
    --aft-link-alt: #111;

    --fore-head: #c0b283;
    --aft-head: #111;

    --fore-breadcrumb: #F0F0F0;
    --aft-breadcrumb: #111;

    --link-head: #c0b283;
    --link-alt-head: #b8ab7e;

    --fore-block: #F0F0F0;
    --aft-block: #111;
    --icon-block: #222;

    --fore-table-head: #111;
    --aft-table-head: #b8ab7e;
    --fore-table-row-odd: #F0F0F0;
    --aft-table-row-odd: #333;
    --fore-table-row-even: #F0F0F0;
    --aft-table-row-even: #222;

    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --content-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --code-font: Consolas, 'Courier New', Courier, monospace;

    --block-gap: 2rem;

    --marker-size: 1.2em;
    --paragraph-margin: 1.2rem;

    --box-shadow: 0 12px 24px -12px rgb(0 0 0 / 80%);

    --navigation-width: 300px;
    --grid-gap: 1rem;
    --grid-max-width: 60rem;
    --grid-width: 90vw;
}